.userItem {
    width: 100%;
    display: grid;
    grid-template-areas: 'name name profile actions'
                         'addUser addUser addUser addUser';
    align-items: center;
    margin: .5rem;
    padding: 0.5rem;

    text-align: center;
    font-weight: 800;

    color: var(--white);
    border-bottom: solid .2rem var(--white);

    /* justify-content: center; */
    align-items: center;
}


.itemName {
    grid-area: name;
}

.itemProfile {
    grid-area: profile;
}

.itemButon {
    grid-area: actions;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.itemButon>button {
    margin: 0.5rem;
}

.itemNameHeader {
    grid-area: name;
}

.itemProfileHeader {
    grid-area: profile;
}

.itemButonHeader {
    grid-area: actions;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.itemButonHeader>button {
    margin: 0.5rem;
}