.containerAddUser {
	grid-area: addUser;
	background-color: var(--violet-900);
	padding: .25rem;
	border-radius: 1rem;
}

.containerAddUser > form {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;

	text-align: center;
}

.controlButtonAddUser{
	text-align: center;
}

.controlButtonAddUser > button {
	margin: .25rem;
}

/* #payUser {
	margin: .5rem;
} */